In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)

2.3.3

In [12]:
data = pd.read_csv("data\IMDB Dataset.csv")
# data.head()
data.columns
data.shape
data.iloc[1]

review       A wonderful little production. <br /><br />The...
sentiment                                             positive
Name: 1, dtype: object

In [13]:
data.sample(3)

                                                  review sentiment
27117  Like another user I got this cheap - I thought...  negative
15266  Barry Champlain is a radio phone-in talk-show ...  positive
31175  No real plot, no character development, no Sco...  positive

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [15]:
data.isnull().sum()

review       0
sentiment    0
dtype: int64

In [16]:
data.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [17]:
data['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64